.Top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgb(236, 236, 236);
}

.Favorites {
  margin-left: 0;
}

.User {
  margin-right: 0;
  display: flex;
}
